*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.link {
  background-color: #11bdff;
  color: #fff;
  border: 1px solid #11bdff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-top: 2rem;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 3px;
  align-self: center;
}
.link:hover {
  background-color: #fff;
  color: #11bdff;
}
